<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Fashion Shop Management</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

        body {
            background-image: url('/img/EM.jpg');
            font-family: 'Roboto', sans-serif;
            background-size: cover;
            max-width: 700px;
    		margin: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="text-white mt-4">Update Product</h2>

        <form action="#" th:action="@{/saveProduct}" th:object="${product}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />
            <label for="productName" class="text-white">Product Name</label>
            <input type="text" th:field="*{productName}" class="form-control mb-4 col-6">
            <label for="productDesc" class="text-white">Product Description</label>
            <input type="text" th:field="*{productDesc}" class="form-control mb-4 col-6">
            <label for="productPrice" class="text-white">Product Price</label>
            <input type="text" th:field="*{productPrice}" class="form-control mb-4 col-6">


            <button type="submit" class="btn btn-info col-6"> Update Product</button>
        </form>

        <hr>

        <a th:href="@{/}"> Back to Product List</a>
    </div>
</body>

</html>